<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Login</h1>
    <form action="token" method="post" enctype="application/x-www-form-urlencoded">
    	<input type="submit" value="Submit">
    </form>
  </body>
</html>
