<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>
<!-- angular js front end module as ai test -->
<script>
	var app = angular.module("test_app",[]);
	app.controller('api_ctrl', function( $scope, $http) {
		//keep api schema according and example as opject
		$scope.api_schema = [
			{
				"title":"CreateUser",
				"path":"createuser",
				"query":[
					{"q":"id","v":"wukong"},
					{"q":"pwd","v":"wukong2014"},
					{"q":"type","v":"adult"},
					{"q":"pref","v":"Null"},
					{"q":"loc","v":"BL-7F/Workspace/Entrance"}
				],
				"help":"Create a user information which involve the WuKong system. This created user have authority to build and store & access system data which is belong to this user."
				//http://localhost:8888/createuser?id=wukong&pwd=wukong2014&type=adult&pref=Null&loc=BL-7F/Workspace/Entrance
			},
			{
				"title":"GetValue",
				"path":"get",
				"query":[
					{"q":"app","v":"df40477e9a75456ed53400041634f94b"},
					{"q":"com","v":"Light_Sensor"},
					{"q":"loc","v":"/WuKong/Door%23"},
					{"q":"wuc","v":"1001"},
					{"q":"tss","v":"201501011111"}
				],
				"help":"Access Sensing data information via this action, we support multi-parameter at query."
				//sample: "http://localhost:8888/get?app=df40477e9a75456ed53400041634f94b&com=Light_Sensor&loc=/WuKong/Door%23&wuc=1001&tss=201501011111"
			},
			{
				"title":"CreateSystem",
				"path":"createsystem",
				"query":[
					{"q":"id","v":"sys1"},
					{"q":"holder","v":"wukong"},
					{"q":"devices","v":"[d1,d2]"},
					{"q":"fbps","v":"[f1,f2]"},
					{"q":"gateways","v":"[g1,g2]"},
					{"q":"wuclasses","v":"[wc1,wc2]"}
				],
				"help":"Create a whole system’s information and store it at DB."
				//sample: "http://localhost:8888/createsystem?id=sys1&holder=wukong&devices=[d1,d2]&fbps=[f1,f2]&gateways=[g1,g2]&wuclasses=[wc1,wc2]"
			},
			
			{
				"title":"CreateDevice",
				"path":"createdevice",
				"query":[
					{"q":"id","v":"d1"},
					{"q":"wuobject","v":"wc1"},
					{"q":"type","v":"light_sensor"},
					{"q":"capacity","v":"c1"},
					{"q":"network","v":"n1"},
					{"q":"loc","v":"BL-7F/WorkSpace/Entrance"}
				],
				"help":"Create device and its’ detail information."
				//sample: "http://localhost:8888/createdevice?id=d1&wuobject=wc1&type=light_sensor&capacity=c1&network=n1&loc=BL-7F/WorkSpace/Entrance"
			},
			{
				"title":"FindDevice",
				"path":"finddevice",
				"query":[],
				"help":"Find all devices belong user’s r/w authority."
			},
			{
				"title":"DeleteDevice",
				"path":"deletedevice",
				"query":[
					{"q":"Did","v":"55489b39491d430e430e79aa"}
				],
				"help":"Create device and its’ detail information."
				//sample: "http://localhost:8888/deletedevice?Did=55489b39491d430e430e79aa"
			}
		];
		//default query
		$scope.host = "localhost:8888";
		$scope.title = "";
		$scope.path = "";
		$scope.query = [];
		$scope.query_display = function (api) {
			//upate query string ui
			$scope.title = api.title;
			$scope.path = api.path;
			$scope.query = api.query;
		}
		$scope.request_api = function(){
			//rebuild url form query ui input 
			url = "http://" + $scope.host + "/" + $scope.path + "?";
			for(var q of $scope.query){
				url = url + q.q + "=" + q.v + "&";	
			} 
			console.log( url);
			//execute api query
			$http.get( url)
    		.success(function(response) { 
    			$scope.result = response;
    			$scope.result_title = $scope.title;
    			console.log(response);
    		});
			
		}
	});
</script>
<div ng-app="test_app" ng-controller="api_ctrl">
	<h3>Monitoring API test</h3>
 	<h4>API list</h4>
 	<ul>
 		<li ng-repeat="api in api_schema">
 			<button ng-click="query_display(api)">{{api.title}}</button>
 			<p>{{api.help}}</p>
 		</li>
 	</ul>
 	<h4>API {{title}}</h4>
 	Host: <input type="text" ng-model="host"></br>
 	Path: <input type="text" ng-model="path"></br>
 	<ul>
 		<li ng-repeat="q in query">	
 			Key <input type="text" ng-model="q.q">
 			Value <input type="text" ng-model="q.v">
 		</li>
 	</ul>
 	<h4>API access test</h4>
 	<div>
 		URL: <div>{{host}}/{{path}}?<span ng-repeat="q in query">{{q.q}}={{q.v}}&</span></div></br>
 		Access: <div><button ng-click="request_api()">Test API Now!</button></div></br>
 		Result {{result_title}}: <div>{{result}}</div></br>
 	</div>
</div>
<!--
<h4>API doc</h4>
<iframe src="https://docs.google.com/document/d/1AdKRufgZDxIfumPvMs62GlXlFfUZP6DTaNDr1t_ZDjQ/edit?usp=sharing" width="100%" height="800p"></iframe>
-->
</body>
</html>